/* font converted using font-converter.net. thank you! */
@font-face {
        font-family: "CodeSaver-Regular";
      
        src: url("../fonts/CodeSaver-Regular.woff") format("woff"), /* Modern Browsers */
          url("../fonts/CodeSaver-Regular.woff2") format("woff2"); /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
      }

      #idNote, #idP, #supprimer, #supprimerP{
        visibility: hidden;
      }

      #proprio{
        display: block;
        margin: 0.5em auto;
      }

      main{
        display: flex;
      }

      #navNotes{
        margin: 4px;
        padding: 5px;
      }

      #blocNote{
        margin: 4px;
        padding: 5px;
      }

      textarea{
        background-color: white;
        height: 5em; 
        resize: none;
      }

      #blocNote > header{
        position: relative;
        text-align: left;
        margin-bottom: 2em;
    }

      #navProprio{
        margin: 4px;
        padding: 5px;
      }
      

      #navProprio > ul > li > a{
        width: 2em;
      }

      #imp{
        width: 4em;
        height: 4em;
        position: absolute;
            top: 0;
            right: 0;
      }

      #ajouterNote{
        display: block;
        margin-top: 1em;
      }

      #ajouterProprio{
        margin-top: 1em;
        margin-bottom: 1em;
      }

      #supprimer{
        margin-top: 1em;
        margin-left: 1em;
      }

      #sauvegarder{
        margin-top: 1em;
      }

      header{
        text-align: center;
      }

      footer{
        text-align: center;
      }

      body{
        background-color: #bbdefb;
      }

    /*body{
        font-size: 1em;
        font-family:"CodeSaver-Regular", sans-serif;
        background: lightblue;
    }

    #main {
        min-height: 800px;
        margin: 0px;
        padding: 0px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
                flex-flow: row;
        }
          
        h1,h2,h3,h4,h5,h6{
            text-align: center;
        }

        #blocNote > header > h2{
            text-decoration: underline;
            text-align: left;
            margin-left: 1em;
            margin-bottom: 1em;
        }
         
        #navNotes {
        margin: 4px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 7pt;
        background: #0adfa9;
        -webkit-flex: 3 1 15%;
                flex: 3 1 15%;
        -webkit-order: 2;
                order: 2;
        }

        #blocNote{
            margin: 4px;
            padding: 5px;
            border: 1px solid black;
            border-radius: 7pt;
            background: #fbfd96;
            -webkit-flex: 3 1 60%;
                    flex: 3 1 60%;
            -webkit-order: 2;
                    order: 2;
        }

        #blocNote > header{
            position: relative;
        }
           
        #navProprio {
        margin: 4px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 7pt;
        background: #0adfa9;
        -webkit-flex: 1 6 15%;
                flex: 1 6 15%;
        -webkit-order: 3;
                order: 3;
        }
          
        body > header, footer {
        display: block;
        text-align: center;
        margin: 4px;
        padding: 5px;
        min-height: 150px;
        border: 1px solid black;
        border-radius: 7pt;
        background: #08a1c7;
        }
          
        header:first-letter, footer:first-letter{
            font-size: 160%;
        }

        #imp{
            width: 4em;
            height: 4em;
            position: absolute;
            top: 0;
            right: 0;
        }*/
